.App {
  font-family: "Poppins", sans-serif;
  background-color: #000000;
  color: #fff;
}

.App-logo {
  height: 15vh;
  width: auto;
}

.logo-header {
  height: 40px;
  padding-bottom: 3px;
}

.App-header {
  background-color: #000000;
  height: 80px;
  display: flex;
  align-items: center;
  color: white;
  padding: 0px 64px;
}

.App-header .extras {
  margin-left: auto;
}

.App-title {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  text-decoration: none;
  border-bottom: 1px dashed #5ce198;
}

.App-title:active,
.App-title:hover {
  color: #fff;
  text-decoration: none;
}

.session-title-input {
  height: 30px;
  width: 15rem;
  margin-left: 5px;
  padding: 5px;
  background-color: #1d1f27;
  color: #fff;
  font-size: 19px;
  border: 1px solid #1d1f27;
  border-radius: 6px;
}

.session-title-input:focus {
  outline: none;
}

.session-title-input:hover {
  background-color: #222;
  color: #fff;
  border: 1px solid #ffffff6e;
  border-radius: 6px;
}

.session-title {
  margin-left: 50px;
  color: #ffffffd6;
  font-size: 17px;
  text-decoration: none;
}

.session-title .session-title-name {
  margin-left: 50px;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  border-bottom: 1px solid #fff;
}

.homepage {
  display: flex;
  padding: 0px 64px;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 80px);
}

.firepad {
  height: calc(100vh - 80px);
}

.powered-by-firepad {
  display: none;
  z-index: 0;
}

.codingpage {
  height: calc(100vh - 80px);
}

.CodeMirror-scroll {
  padding: 16px 32px;
}

.cm-s-dracula.CodeMirror {
  padding: 0px;
  height: calc(100vh - 80px);
}

p {
  margin: 0;
}

.title {
  font-size: 36px;
  font-weight: 100;
  margin-bottom: 12px;
}

.sub-title {
  font-size: 16px;
  font-weight: 700;
  color: rgb(124, 124, 124);
  margin-bottom: 36px;
  max-width: 500px;
}

.highlight {
  color: #5ce198;
}

.btn-home {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  line-height: 36px;
  padding: 0 25px;
  font-size: 14px;
  border-radius: 58px;
  text-decoration: none;
  height: 36px;
  background: transparent;
  color: #e4e4e4;
  border-color: #5ce198;
  -webkit-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-home:hover {
  background: #5ce198;
  color: black;
}

.btn-home:focus {
  outline: none;
}

.btn-coding {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  line-height: 36px;
  padding: 0 10px;
  font-size: 14px;
  border-radius: 58px;
  text-decoration: none;
  height: 36px;
  background: transparent;
  color: #e4e4e4;
  border-color: #5ce198;
  -webkit-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-coding:hover {
  background: #5ce198;
  color: black;
}

.btn-coding:focus {
  outline: none;
}

.btn-user-editing {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  line-height: 36px;
  padding: 0 10px;
  font-size: 14px;
  border-radius: 58px;
  text-decoration: none;
  height: 36px;
  background: transparent;
  color: #e4e4e4;
  border-color: #5ce198;
  cursor: default;
  -webkit-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-user-editing:focus {
  outline: none;
}

/**** Google Login Page ****/

.header-loginPage {
  background-color: #ffffff;
  padding: 20px;
  color: white;
  text-align: center;
  margin-top: 5%;
}

.heading-login {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #222;
  margin-top: 5%;
  margin-bottom: 1.3rem;
  line-height: 1.5;
  font-size: 2em;
  font-weight: bold;
}

/**** Login Page Spinning Icon ****/

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  text-align: center;
  margin-top: 20%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/**** Coding Page Spinning Icon ****/

.lds-ring-coding {
  display: inline-block;
  width: 90px;
  height: 90px;
  position: absolute;
  top: 40vh;
  left: 46.5%;
  z-index: 50;
  text-align: center;
}
.lds-ring-coding div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring-coding div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring-coding div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring-coding div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring-coding {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/**** Extra ****/

.mode-dropdown {
  height: 30px;
  font-size: 13px;
}

.toggle-btn {
  /* vertical-align: bottom; */
  vertical-align: middle;
  font-size: 1.4rem;
}

.clone-btn {
  vertical-align: bottom;
  border-radius: 11px;
  font-size: 1.2rem;
}

.spotlight {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: radial-gradient(
    circle,
    transparent 160px,
    rgba(0, 0, 0, 0.85) 200px
  );
}

/*** Dashboard ***/

.dashboard {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #222;
  height: calc(100vh - 80px);
  padding: 0px 64px;
}

.dashboard .sessions-title {
  font-family: "Montserrat", sans-serif;
  color: #222;
  font-size: 34px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 20px;
  padding-top: 15px;
}

.dashboard .clones-title {
  font-family: "Montserrat", sans-serif;
  color: #222;
  font-size: 34px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 20px;
  margin-top: 40px;
}

.clickable {
  cursor: pointer;
}

.aligncenter {
  text-align: center;
}

.loading-text {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-family: monospace;
  margin-top: 15px;
}

.view-clones-help-text {
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-family: monospace;
  margin-top: 15px;
}

table {
  /* background-color: white; */
  width: 80%;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
}

table td,
table th {
  padding: 7px;
  text-align: center;
}

table th {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.table-collection {
  margin: auto;
}

.table-collection th {
  border-bottom: 1px solid #b3b5b8;
  border-top: none;
  text-transform: uppercase;
}

table tr {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.table-collection tr {
  border-bottom: 1px solid #b3b5b8;
  border-top: none;
}

.table-collection tbody tr:hover {
  background-color: #f3f3f4;
}

.table-collection a {
  color: #007bff;
  font-weight: 700;
  text-decoration: none;
}

.table-collection a:hover {
  text-decoration: none;
}

.table-collection .title-color {
  color: #a70a19;
  font-weight: 500;
}

.view-clone-btn {
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #007aff;
}

.view-clone-btn:hover {
  background-color: #187deb;
  color: #fff;
}

.view-clone-btn:focus {
  outline: none;
}

/* Coding Page */

.session-details {
  display: inline-flex;
  flex-direction: column;
}

.header-menu {
  vertical-align: text-top;
}

/**** Quick Access Classes ****/

.padding-0-14 {
  padding: 0 14px;
}

.margin-l-20 {
  margin-left: 20px;
}

.margin-l-15 {
  margin-left: 15px;
}

.margin-l-10 {
  margin-left: 10px;
}

.text-center {
  text-align: center;
}
